@model CommonRuleEditModel
@{
    ViewData["Title"] = "Создание Общего правила";
}
<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs">
            <li><a href="/Typicons/Edit/@ViewContext.RouteData.Values["id"]#panel_properties">Свойства</a></li>
            <li><a href="/Typicons/Edit/@ViewContext.RouteData.Values["id"]#panel_jobs">Операции</a></li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    Редактирование Правил
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a asp-controller="Sign" asp-action="Index" asp-route-id="@ViewContext.RouteData.Values["id"]">Знаки служб</a></li>
                    <li><a asp-controller="MenologyRule" asp-action="Index" asp-route-id="@ViewContext.RouteData.Values["id"]">Правила Минеи</a></li>
                    <li><a asp-controller="TriodionRule" asp-action="Index" asp-route-id="@ViewContext.RouteData.Values["id"]">Правила Триоди</a></li>
                    <li><a asp-controller="CommonRule" asp-action="Index" asp-route-id="@ViewContext.RouteData.Values["id"]">Общие Правила</a></li>
                    <li><a asp-controller="ExplicitAddRule" asp-action="Index" asp-route-id="@ViewContext.RouteData.Values["id"]">Явные Правила</a></li>
                    <li><a asp-controller="Kathisma" asp-action="Index" asp-route-id="@ViewContext.RouteData.Values["id"]">Кафизмы</a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active">
                <div class="col-md-8">
                    <h2>Создание Общего правила</h2>
                </div>
                <div class="clearfix"></div>
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <div class="col-sm-8">
                            <label asp-for="Name">Наименование:</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-xs-12">
                        <label asp-for="RuleDefinition">Правило для последовательности:</label>
                        <div>
                            <textarea id="rule" class="form-control rounded-0" rows="30" asp-for="RuleDefinition"></textarea>
                            <span asp-validation-for="RuleDefinition" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group"><div class="validation" asp-validation-summary="ModelOnly"></div></div>
                    <div class="col-xs-12"><button class="btn btn-primary" asp-action="Create">Создать</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <script src="~/lib/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="~/lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/xq-light.css">
    <script src="~/lib/codemirror/xml.js"></script>
    <script src="~/lib/codemirror/show-hint.js"></script>
    <script src="~/lib/codemirror/xml-hint.js"></script>
    <script src="~/js/textarea.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            createTextArea("rule", '@Model.RuleDefinition');

        });


    </script>
}