@model TypiconOnline.Web.Models.TypiconViewModels.CreateTypiconModel
@{
    ViewData["Title"] = "Создание Устава";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <form asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-9"><label asp-for="Name">Наименование</label></div>
                        <div class="col-sm-3 text-right">
                            <button type="button" id="addname" class="btn btn-info add-new btn-xs"><i class="fa fa-plus"></i> Добавить</button>
                        </div>
                    </div>
                </div>
                <table id="itemtext" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Язык</th>
                            <th>Значение</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Name.Items.Count; i++)
                        {
                            <tr>
                                <td class="language">@Model.Name.Items[i].Language</td>
                                <td class="text">@Model.Name.Items[i].Text</td>
                                <td>
                                    <input class="language" type="hidden" asp-for="@Model.Name.Items[i].Language" />
                                    <input class="text" type="hidden" asp-for="@Model.Name.Items[i].Text" />
                                    <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-9"><label asp-for="Description">Описание</label></div>
                        <div class="col-sm-3 text-right">
                            <button type="button" id="adddescr" class="btn btn-info add-new btn-xs"><i class="fa fa-plus"></i> Добавить</button>
                        </div>
                    </div>
                </div>
                <table id="itdescr" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Язык</th>
                            <th>Значение</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Description.Items.Count; i++)
                        {
                            <tr>
                                <td class="language">@Model.Description.Items[i].Language</td>
                                <td class="text">@Model.Description.Items[i].Text</td>
                                <td>
                                    <input class="language" type="hidden" asp-for="@Model.Description.Items[i].Language" />
                                    <input class="text" type="hidden" asp-for="@Model.Description.Items[i].Text" />
                                    <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                    <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="SystemName">Системное имя</label>
                <input asp-for="SystemName" class="form-control"/>
                <span asp-validation-for="SystemName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="DefaultLanguage">Язык по умолчанию</label>
                <input asp-for="DefaultLanguage" class="form-control" />
                <span asp-validation-for="DefaultLanguage" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="TemplateId">Устав:</label>
                <select class="form-control" asp-for="TemplateId" asp-items="@ViewBag.Typicons"></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group"><div class="validation" asp-validation-summary="ModelOnly"></div></div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary" type="submit">Создать</button>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/itemtext.css" />

    <script src="~/js/itemtext.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            createItemTextTable("#itemtext", "Name", "#addname");
            createItemTextTable("#itdescr", "Description", "#adddescr");
        });

    </script>
}