@model TypiconClaimModel
@{
    ViewData["Title"] = "Рассмотрение заявки на создание Устава";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <form asp-action="Reject" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-9"><label asp-for="Name">Наименование</label></div>
                    </div>
                </div>
                <table id="itemtext" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Язык</th>
                            <th>Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Name.Items.Count; i++)
                        {
                            <tr>
                                <td class="language">@Model.Name.Items[i].Language</td>
                                <td class="text">@Model.Name.Items[i].Text</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-9"><label asp-for="Description">Описание</label></div>
                    </div>
                </div>
                <table id="itdescr" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Язык</th>
                            <th>Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Description.Items.Count; i++)
                        {
                            <tr>
                                <td class="language">@Model.Description.Items[i].Language</td>
                                <td class="text">@Model.Description.Items[i].Text</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="SystemName">Системное имя</label>
                <input asp-for="SystemName" class="form-control" readonly />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="DefaultLanguage">Язык по умолчанию</label>
                <input asp-for="DefaultLanguage" class="form-control" readonly />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="Template">Устав:</label>
                <input asp-for="Template" class="form-control" readonly />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-8">
                <label asp-for="ResultMessage">Сообщение (заполняется при отклонении Заявки)</label>
                <textarea asp-for="ResultMessage" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button asp-action="Approve" asp-route-id="@Model.Id" class="btn btn-primary" type="submit">Утвердить</button>
                <button asp-action="Reject" asp-route-id="@Model.Id" class="btn btn-danger" type="submit">Отклонить</button>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/itemtext.css" />

    <script src="~/js/itemtext.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            createItemTextTable("#itemtext", "Name", "#addname");
            createItemTextTable("#itdescr", "Description", "#adddescr");
        });

    </script>
}