@model SignCreateEditModel
@{
    ViewData["Title"] = "Редактирование Знака службы";
}
<div class="container">
    @await Component.InvokeAsync("TypiconTab", new { typiconId = Model.TypiconId.ToString(), tab = TypiconTab.EditSign })
    <div class="row">
        <div class="col-12"><h2>@ViewData["Title"]</h2></div>
    </div>
    <div class="row">
        <form class="row" asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="col-sm-8">
                    <label asp-for="Name">Наименование:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-sm-8">
                <label asp-for="TemplateId">Знак службы:</label>
                <select class="form-control" asp-for="TemplateId" asp-items="@ViewBag.Signs">
                    <option value="0">[Нет шаблона]</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="checkbox col-sm-8">
                <label>
                    <input type="checkbox" asp-for="IsAddition" /> <b>Как дополнение</b>
                </label>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-sm-8">
                <label asp-for="PrintTemplateId">Печатный шаблон:</label>
                <select class="form-control" asp-for="PrintTemplateId" asp-items="@ViewBag.PrintTemplates">
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-sm-8">
                <label asp-for="Priority">Приоритет:</label>
                <input type="number" asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-12">
                <label asp-for="ModRuleDefinition">Правило для переноса служб:</label>
                <div>
                    <textarea id="modRule" class="form-control rounded-0" rows="30" asp-for="ModRuleDefinition"></textarea>
                    <span asp-validation-for="ModRuleDefinition" class="text-danger"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-12">
                <label asp-for="RuleDefinition">Правило для последовательности:</label>
                <div>
                    <textarea id="rule" class="form-control rounded-0" rows="30" asp-for="RuleDefinition"></textarea>
                    <span asp-validation-for="RuleDefinition" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group"><div class="validation" asp-validation-summary="ModelOnly"></div></div>
            <div class="col-xs-12"><button class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id" asp-route-typiconId="@Model.TypiconId">Сохранить</button></div>
        </form>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/itemtext.css" />

    <script src="~/lib/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="~/lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/xq-light.css">
    <script src="~/lib/codemirror/xml.js"></script>
    <script src="~/lib/codemirror/show-hint.js"></script>
    <script src="~/lib/codemirror/xml-hint.js"></script>
    <script src="~/js/textarea.js"></script>
    <script src="~/js/itemtext.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            createTextArea("modRule", '@Model.ModRuleDefinition');
            createTextArea("rule", '@Model.RuleDefinition');
        });

    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}