@model TypiconOnline.Web.Models.ScheduleViewModels.ScheduleViewModel

@{
    ViewData["Title"] = $"Устав - {Model.Name}";
}

<section>
    <div class="clearfix"></div>
    <div class="row col-sm-12"><h1>Расписание</h1></div>
    <div class="row col-sm-12"><h2>@ViewData["Title"]</h2></div>
    <form id="formSchedule" method="post" class="form-inline" asp-controller="Schedule">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2">
                    <button id="btnPrev" class="btn btn-default prev" type="button"><span class="fas fa-chevron-left"></span></button>
                </div>
                <div class="col-xs-8">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control">
                        <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                    </div>
                    <input type="hidden" id="dtp_date" value="@Model.Date.ToString("yyyy-MM-dd")" name="Date" />
                </div>
                <div class="col-xs-2 text-right">
                    <button id="btnNext" class="btn btn-default next" type="button"><span class="fas fa-chevron-right"></span></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <button id="btnView" class="btn btn-default btn-block" type="button"><span id="spanView" class="fas fa-search"></span> Смотреть</button>
                </div>
                <div class="col-xs-6">
                    <button id="btnDownload" class="btn btn-primary btn-block" asp-controller="Schedule" asp-action="Download" asp-route-id="@Model.Id"><span class="fas fa-save"></span> Скачать </button>
                </div>
            </div>
            <input type="hidden" id="typId" value="@Model.Id" name="Id" />
            <input type="hidden" id="language" value="@Model.Language" name="Language" />
        </div>
    </form>
</section>
<section>
    <div class="row">
        <div class="col-sm-12" id="week"></div>
    </div>
</section>

@section Scripts {
    
    <script src="/lib/momentjs/moment-with-locales.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/schedule.js"></script>

    <script type="text/javascript">
        @*Perform('@Model.Date.ToString("yyyy-MM-dd")');
        $('#datepicker').datetimepicker({
            locale: 'ru',
            format: 'DD MMMM YYYY года',
            defaultDate: moment('@Model.Date.ToString("yyyy-MM-dd")').format("YYYY-MM-DD")
        })
        .on('dp.change', function (e) {
            if (e.date != null) {
                $('#dtp_date').attr("value", moment(e.date).format("YYYY-MM-DD"));
            }
            else {
                $('#dtp_date').attr("value", "");
            }
        });

        var picker = $('#datepicker').data("DateTimePicker");

        var btnPrev = $("#btnPrev");
        var btnNext = $("#btnNext");
        var btnView = $("#btnView");
        var btnDownload = $("#btnDownload");

        btnNext.on('click', function () {
            var date = picker.date();
            date = date.add(7, 'days');
            picker.date(date);

            btnView.removeAttr("disabled");
            btnDownload.attr("disabled", "disabled");
        });

        btnPrev.on('click', function () {
            var date = picker.date();
            date = date.add(-7, 'days');
            picker.date(date);

            btnView.removeAttr("disabled");
            btnDownload.attr("disabled", "disabled");
        });

        btnView.on('click', function () {
            //var url = "schedule/view";
            //var postData = new FormData($("formSchedule"));

            btnView.attr("disabled", "disabled");
            btnDownload.attr("disabled", "disabled");

            var spanView = $("#spanView");
            var sp = spanView.attr("class", "fa fa-spinner fa-spin");

            var url = "schedule/view?id="+$("#typId").val()+"&date="+$("#dtp_date").val()+"language="+$("#language").val();
            $.ajax({
                type: "GET",
                url: url,
                data: null, // serializes the form's elements.
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    btnDownload.removeAttr("disabled");

                    spanView.attr("class", sp);

                    $("#week").html(data);
                }
            });
        });*@

    </script>
}
