@using TypiconOnline.Domain.Rules.Output;
@{
    ViewData["Title"] = $"Устав {ViewBag.TypiconName}";
}

@section Scripts {

    <script src="/lib/momentjs/moment-with-locales.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">

        $('#datepicker').datetimepicker({
            locale: 'ru',
            format: 'DD MMMM YYYY года',
            defaultDate: moment('@ViewBag.Date.ToString("yyyy-MM-dd")').format("YYYY-MM-DD")
        })
        .on('dp.change', function (e) {
            if (e.date != null) {
                $('#dtp_date').attr("value", moment(e.date).format("YYYY-MM-DD"));
            }
            else {
                $('#dtp_date').attr("value", "");
            }
        });
    </script>
}
<section>
    <div class="row col-sm-6"><breadcrumb></breadcrumb></div>
    <div class="clearfix"></div>
    <div class="row col-sm-12"><h1>Расписание</h1></div>
    <div class="row">
        <form method="post">
            <div class="col-md-3">
                <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                </div>
                <input type="hidden" id="dtp_date" value="@ViewBag.Date.ToString("yyyy-MM-dd")" name="Date" />
            </div>

            <div class="col-md-3">
                <button asp-controller="schedule" asp-action="Index" asp-route-id="@ViewBag.Id" class="btn btn-default">Смотреть</button>  <button class="btn btn-primary" asp-controller="schedule" asp-action="Download" asp-route-id="@ViewBag.Id"><span class="glyphicon glyphicon-save"></span> Скачать </button>
            </div>
        </form>
    </div>
</section>
<section>
    <div class="row col-sm-12">
        @if (ViewBag.Week.Success)
        {
            <h2 class="@ViewBag.Week.Value.Name.Language">@ViewBag.Week.Value.Name.Text</h2>
            @foreach (var day in ViewBag.Week.Value.Days)
            {
                <h3>@day.Date.ToString("dd MMMM yyyy г.")</h3>
                <h3 class="@day.Name.Language">@day.Name.Text</h3>
                <h4 class="@day.SignName.Language">Знак службы: @day.SignName.Text</h4>
                <table>
                    @{int i = 0;}
                    @foreach (var worship in day.Worships)
                    {
                        <tr>
                            <td>@worship.Time&nbsp;</td>
                            <td>
                                <a asp-controller="schedule" asp-action="sequence" asp-route-id="@ViewBag.Id"
                                   asp-route-date="@day.Date.ToString("yyyy-MM-dd")" asp-route-w="@i">
                                    <span class="@worship.Name.Text.Language">@worship.Name.Text.Text</span>
                                    @if (worship.AdditionalName != null)
                                    {
                                        <span class="@worship.AdditionalName.Language">@worship.AdditionalName.Text</span>
                                    }
                                </a>
                            </td>
                        </tr>
                        i++;
                    }
                </table>
            }
        }
        else
        {
            <h3>@ViewBag.Week.Error</h3>
        }
    </div>
</section>
