@using TypiconOnline.Web.Models.TypiconViewModels
@model TypiconTabModel
    
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="index">Главная</a></li>
                <li><a asp-controller="Typicon" asp-action="index">Уставы</a></li>
                @switch (Model.Tab)
                {
                    case TypiconTab.Properties:
                    case TypiconTab.Operations:
                    case TypiconTab.Editors:
                    case TypiconTab.PrintTemplate:
                    case TypiconTab.Variables:
                    case TypiconTab.Sign:
                    case TypiconTab.Menology:
                    case TypiconTab.Triodion:
                    case TypiconTab.Common:
                    case TypiconTab.Explicit:
                    case TypiconTab.Kathizma:
                        <text>
                            <li class="active">Устав</li>
                        </text>
                        break;
                    case TypiconTab.CreatePrintTemplate:
                    case TypiconTab.EditPrintTemplate:
                        <text>
                            <li><a asp-controller="PrintTemplate" asp-action="index" asp-route-id="@Model.TypiconId">Устав</a></li>
                            <li class="active">Печатный шаблон</li>
                        </text>
                        break;
                    case TypiconTab.CreateSign:
                    case TypiconTab.EditSign:
                        <text>
                            <li><a asp-controller="Sign" asp-action="index" asp-route-id="@Model.TypiconId">Устав</a></li>
                            <li class="active">Знак службы</li>
                        </text>
                        break;
                    case TypiconTab.CreateMenology:
                    case TypiconTab.EditMenology:
                        <text>
                            <li><a asp-controller="MenologyRule" asp-action="index" asp-route-id="@Model.TypiconId">Устав</a></li>
                            <li class="active">Минея</li>
                        </text>
                        break;
                    case TypiconTab.CreateTriodion:
                    case TypiconTab.EditTriodion:
                        <text>
                            <li><a asp-controller="TriodionRule" asp-action="index" asp-route-id="@Model.TypiconId">Устав</a></li>
                            <li class="active">Триодь</li>
                        </text>
                        break;
                    case TypiconTab.CreateCommon:
                    case TypiconTab.EditCommon:
                        <text>
                            <li><a asp-controller="CommonRule" asp-action="index" asp-route-id="@Model.TypiconId">Устав</a></li>
                            <li class="active">Общее правило</li>
                        </text>
                        break;
                    case TypiconTab.CreateExplicit:
                    case TypiconTab.EditExplicit:
                        <text>
                            <li><a asp-controller="ExplicitAddRule" asp-action="index" asp-route-id="@Model.TypiconId">Устав</a></li>
                            <li class="active">Явное правило</li>
                        </text>
                        break;
                    @*case TypiconTab.EditKathizma:
                        <text>
                            <li><a asp-controller="Kathizma" asp-action="index" asp-route-id="@Model.TypiconId">Устав</a></li>
                            <li class="active">Кафизма</li>
                        </text>
                        break;*@
                }
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Редактирование Устава</h1>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            @if (Model.Tab == TypiconTab.Properties)
            {
                <li class="active"><a href="#">Свойства</a></li>
            }
            else
            {
                <li><a asp-controller="Typicon" asp-action="Edit" asp-route-id="@Model.TypiconId">Свойства</a></li>
            }
            @if (Model.Tab == TypiconTab.ScheduleSettings)
            {
                <li class="active"><a href="#">График богослужений</a></li>
            }
            else
            {
                <li><a asp-controller="ScheduleSettings" asp-action="Index" asp-route-id="@Model.TypiconId">График богослужений</a></li>
            }
            @if (Model.Tab == TypiconTab.Operations)
            {
                <li class="active"><a href="#">Операции</a></li>
            }
            else
            {
                <li><a asp-controller="Typicon" asp-action="Operations" asp-route-id="@Model.TypiconId">Операции</a></li>
            }
            @if (Model.UserIsAuthor)
            {
                @if (Model.Tab == TypiconTab.Editors)
                {
                    <li class="active"><a href="#">Редакторы</a></li>
                }
                else
                {
                    <li><a asp-controller="Typicon" asp-action="Editors" asp-route-id="@Model.TypiconId">Редакторы</a></li>
                }
            }
            @if (Model.Tab == TypiconTab.PrintTemplate)
            {
                <li class="active">
                    <a href="#">
                        Печатные шаблоны
                        @if (Model.EmptyPrintTemplatesCount > 0)
                        {
                            <span id="varCountSpan" class="label label-@((!Model.IsTemplate && Model.EmptyPrintTemplatesCount > 0) ? "danger" : "default")"
                                  title="Количество печатных шаблонов без загруженных файлов">@Model.EmptyPrintTemplatesCount</span>
                            }
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="PrintTemplate" asp-action="Index" asp-route-id="@Model.TypiconId">
                        Печатные шаблоны
                        @if (Model.EmptyPrintTemplatesCount > 0)
                        {
                            <span id="varCountSpan" class="label label-@((!Model.IsTemplate && Model.EmptyPrintTemplatesCount > 0) ? "danger" : "default")"
                                  title="Количество печатных шаблонов без загруженных файлов">@Model.EmptyPrintTemplatesCount</span>
                            }
                    </a>
                </li>
            }
            @if (Model.Tab == TypiconTab.Variables)
            {
                <li class="active">
                    <a href="#">
                        Переменные
                        @if (!Model.IsTemplate && Model.VariablesCount > 0)
                        {
                            <span id="varCountSpan" class="label label-danger"
                                  title="Количество переменных без определения">@Model.VariablesCount</span>
                            }
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="TypiconVariables" asp-action="Index" asp-route-id="@Model.TypiconId">
                        Переменные
                        @if (Model.VariablesCount > 0)
                        {
                            <span id="varCountSpan" class="label label-@((!Model.IsTemplate && Model.VariablesCount > 0) ? "danger" : "default")"
                                  title="Количество переменных">@Model.VariablesCount</span>
                            }
                    </a>
                </li>
            }
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    Редактирование Правил
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    @if (Model.Tab == TypiconTab.Sign)
                    {
                        <li class="active"><a href="#">Знаки служб</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Sign" asp-action="Index" asp-route-id="@Model.TypiconId">Знаки служб</a></li>
                    }
                    @if (Model.Tab == TypiconTab.Menology)
                    {
                        <li class="active"><a href="#">Минея</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="MenologyRule" asp-action="Index" asp-route-id="@Model.TypiconId">Минея</a></li>
                    }
                    @if (Model.Tab == TypiconTab.Triodion)
                    {
                        <li class="active"><a href="#">Триодь</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="TriodionRule" asp-action="Index" asp-route-id="@Model.TypiconId">Триодь</a></li>
                    }
                    @if (Model.Tab == TypiconTab.Common)
                    {
                        <li class="active"><a href="#">Общие</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="CommonRule" asp-action="Index" asp-route-id="@Model.TypiconId">Общие</a></li>
                    }
                    @if (Model.Tab == TypiconTab.Explicit)
                    {
                        <li class="active"><a href="#">Явные</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="ExplicitAddRule" asp-action="Index" asp-route-id="@Model.TypiconId">Явные</a></li>
                    }
                    @*@if (Model.Tab == TypiconTab.Kathizma)
                    {
                        <li class="active"><a href="#">Кафизмы</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Kathisma" asp-action="Index" asp-route-id="@Model.TypiconId">Кафизмы</a></li>
                    }*@
                </ul>
            </li>
        </ul>
    </div>