@model MenologyDayEditModel
@{
    ViewData["Title"] = "Редактирование Текста Минейной службы";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="index">Главная</a></li>
                <li><a asp-controller="MenologyDay" asp-action="index">Тексты минейных служб</a></li>
                <li class="active">Редактирование Текста Минейной службы</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="row" asp-action="Edit" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label asp-for="Name">Наименование:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label asp-for="ShortName">Краткое наименование:</label>
                        <input asp-for="ShortName" class="form-control" />
                        <span asp-validation-for="ShortName" class="text-danger"></span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <label asp-for="LeapDate">Дата (високосный год):</label>
                        <div class="input-group date" id="leapdate">
                            <input type="text" class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></span>
                        </div>
                        <input type="hidden" id="dtp_leapdate" value="@Model.LeapDate?.ToString("yyyy-MM-dd")" name="LeapDate" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="checkbox col-sm-8">
                    <label>
                        <input type="checkbox" asp-for="IsCelebrating" /> <b>Признак Господского или Богородичного праздника, его предпразднества или попразднества</b>
                    </label>
                </div>
                <div class="clearfix"></div>
                <div class="checkbox col-sm-8">
                    <label>
                        <input type="checkbox" asp-for="UseFullName" /> <b>Признак, использовать ли полное имя при составлении расписания. Например, имеет значение true для праздника Недели по Рождестве</b>
                    </label>
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-xs-12">
                    <label asp-for="Definition">Определение текста службы:</label>
                    <div>
                        <textarea id="definition" class="form-control rounded-0" rows="30" asp-for="Definition"></textarea>
                        <span asp-validation-for="Definition" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group"><div class="validation" asp-validation-summary="ModelOnly"></div></div>
                <div class="col-xs-12"><button class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Сохранить</button></div>
            </form>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/itemtext.css" />

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-datepicker.min.css" />

    <script src="~/lib/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="~/lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/xq-light.css">
    <script src="~/lib/codemirror/xml.js"></script>
    <script src="~/lib/codemirror/show-hint.js"></script>
    <script src="~/lib/codemirror/xml-hint.js"></script>
    <script src="~/js/textarea.js"></script>

    <script src="~/lib/momentjs/moment-with-locales.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            createTextArea("definition", '@Model.Definition');

            $('#leapdate').datetimepicker({
                locale: 'ru',
                dayViewHeaderFormat: "MMMM",
                format: "DD MMMM",
                viewMode: "days",
                maxDate: "2016-12-31",
                minDate: "2016-01-01",
                useCurrent: false,
                showClear: true
                @if (Model.LeapDate != null)
                {
                    <text>, defaultDate: "@Model.LeapDate?.ToString("yyyy-MM-dd")"</text>
                }
            })
            .on('dp.change', function (e) {
                if (!e.date) {
                    $('#dtp_leapdate').attr("value", "");
                }
                else {
                    $('#dtp_leapdate').attr("value", moment(e.date).format("YYYY-MM-DD"));
                }
            })
            @if (Model.LeapDate == null)
            {
                <text>.on('dp.show', function() {
                    return $(this).data('DateTimePicker').defaultDate(moment("2016-01-01"));
                })</text>
            };
        });

    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
